[Unit]
Description=Solar Bluetooth Monitor
After=network.target
 
[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/solar-bt-monitor
ExecStart=/home/pi/solar-bt-monitor/solar-monitor.py
RestartSec=13
Restart=always
 
[Install]
WantedBy=multi-user.target

